
Diffraction/.ipynb_checkpoints/Ch2_00-Diffraction-checkpoint.ipynb
Diffraction/.ipynb_checkpoints/CH2_02-Atomic_Form_Factor-checkpoint.ipynb
Diffraction/.ipynb_checkpoints/CH2_03-Basic_Crystallography-checkpoint.ipynb
Diffraction/.ipynb_checkpoints/CH2_03b-JSmol_Viewer-checkpoint.ipynb
Diffraction/.ipynb_checkpoints/CH2_03c-FourierTransformLaboratory-checkpoint.ipynb
Homework/.ipynb_checkpoints/Homework01-checkpoint.ipynb
Introduction/.ipynb_checkpoints/CH1_03-Data_Representation-checkpoint.ipynb
.pyTEMlib.files.pkl
example_data/p1_3_hr3-1.hf5
example_data/p1_3_hr3-2.hf5
example_data/p1_3_hr3.hf5
example_data/p1_hr3_ZnOonGraphite-1.hf5
example_data/p1_hr3_ZnOonGraphite.hf5
Introduction/.ipynb_checkpoints/CH1_00-Introduction-checkpoint.ipynb
Introduction/.ipynb_checkpoints/CH1_01-Introduction_Python-checkpoint.ipynb
Introduction/.ipynb_checkpoints/CH1_02-Prerequisites-checkpoint.ipynb
Introduction/.ipynb_checkpoints/CH1_04-Open_File-checkpoint.ipynb
Introduction/.ipynb_checkpoints/CH1_05-Course_Organization-checkpoint.ipynb
Introduction/.ipynb_checkpoints/CH1_06-Overview-checkpoint.ipynb
Introduction/.ipynb_checkpoints/CH1_07-Electron-Optics-checkpoint.ipynb
Diffraction/.ipynb_checkpoints/CH2-Introduction-checkpoint.ipynb
Diffraction/.ipynb_checkpoints/CH2_04-Structure_Factors-checkpoint.ipynb
example_data/GOLD_NP_DIFF-1.hf5
example_data/GOLD_NP_DIFF.hf5
Diffraction/.ipynb_checkpoints/CH2_05-Diffraction_Rings-checkpoint.ipynb
