
Diffraction/.ipynb_checkpoints/Ch2_00-Diffraction-checkpoint.ipynb
Diffraction/.ipynb_checkpoints/CH2_02-Atomic_Form_Factor-checkpoint.ipynb
Diffraction/.ipynb_checkpoints/CH2_03-Basic_Crystallography-checkpoint.ipynb
Diffraction/.ipynb_checkpoints/CH2_03b-JSmol_Viewer-checkpoint.ipynb
Diffraction/.ipynb_checkpoints/CH2_03c-FourierTransformLaboratory-checkpoint.ipynb
Homework/.ipynb_checkpoints/Homework01-checkpoint.ipynb
Introduction/.ipynb_checkpoints/CH1_03-Data_Representation-checkpoint.ipynb
.pyTEMlib.files.pkl
example_data/p1_3_hr3-1.hf5
example_data/p1_3_hr3-2.hf5
example_data/p1_3_hr3.hf5
example_data/p1_hr3_ZnOonGraphite-1.hf5
example_data/p1_hr3_ZnOonGraphite.hf5
Introduction/.ipynb_checkpoints/CH1_00-Introduction-checkpoint.ipynb
Introduction/.ipynb_checkpoints/CH1_01-Introduction_Python-checkpoint.ipynb
Introduction/.ipynb_checkpoints/CH1_02-Prerequisites-checkpoint.ipynb
Introduction/.ipynb_checkpoints/CH1_04-Open_File-checkpoint.ipynb
Introduction/.ipynb_checkpoints/CH1_05-Course_Organization-checkpoint.ipynb
Introduction/.ipynb_checkpoints/CH1_06-Overview-checkpoint.ipynb
Introduction/.ipynb_checkpoints/CH1_07-Electron-Optics-checkpoint.ipynb
Diffraction/.ipynb_checkpoints/CH2-Introduction-checkpoint.ipynb
Diffraction/.ipynb_checkpoints/CH2_04-Structure_Factors-checkpoint.ipynb
example_data/GOLD_NP_DIFF-1.hf5
example_data/GOLD_NP_DIFF.hf5
Diffraction/.ipynb_checkpoints/CH2_05-Diffraction_Rings-checkpoint.ipynb
Diffraction/.ipynb_checkpoints/CH2_06-Kinematic_Scattering_Geometry-checkpoint.ipynb
Diffraction/.ipynb_checkpoints/CH2_07-Plotting_Diffraction_Pattern-checkpoint.ipynb
example_data/Si001_300mm_alpha0.1_beta9.4_diff.hf5
Diffraction/.ipynb_checkpoints/CH2_08-Spot_Diffraction_Pattern-checkpoint.ipynb
Diffraction/.ipynb_checkpoints/CH2_09-Unit_Cell-checkpoint.ipynb
Diffraction/.ipynb_checkpoints/CH2_01-Electron-checkpoint.ipynb
Diffraction/slab.xyz
Diffraction/.ipynb_checkpoints/CH2_06b-3D_FFT-checkpoint.ipynb
Diffraction/.ipynb_checkpoints/CH2_06b-Relrod-checkpoint.ipynb
.idea/misc.xml
.idea/MSE672-Introduction-to-TEM.iml
Diffraction/.ipynb_checkpoints/CH2_10-Kikuchi_Lines-Copy1-checkpoint.ipynb
example_data/GOLD_NP_DIFF-2.hf5
Homework/.ipynb_checkpoints/Homework02-checkpoint.ipynb
Diffraction/.ipynb_checkpoints/CH2_10-Kikuchi_Lines-checkpoint.ipynb
Diffraction/.ipynb_checkpoints/CH2_11-HOLZ_Lines-checkpoint.ipynb
example_data/GOLD_NP_DIFF-3.hf5
example_data/Si001_300mm_alpha0.1_beta9.4_diff-1.hf5
Diffraction/.ipynb_checkpoints/Homework03-checkpoint.ipynb
example_data/GOLD_NP_DIFF-4.hf5
Homework/.ipynb_checkpoints/Homework03-checkpoint.ipynb
example_data/Si001_300mm_alpha0.1_beta9.4_diff-2.hf5
example_data/Si001_300mm_alpha0.1_beta9.4_diff-3.hf5
Homework/.ipynb_checkpoints/Homework04-checkpoint.ipynb
Diffraction/.ipynb_checkpoints/CH2_12-HOLZ_Example-checkpoint.ipynb
Diffraction/.ipynb_checkpoints/CH2_D01-Bloch-checkpoint.ipynb
Diffraction/.ipynb_checkpoints/CH2_D02-Multislice-checkpoint.ipynb
Diffraction/.ipynb_checkpoints/CH2_D03-Multislice_CBED-checkpoint.ipynb
Diffraction/.ipynb_checkpoints/CH2_HW5-CBED-checkpoint.ipynb
Diffraction/.ipynb_checkpoints/CH2_HW7-Dynamic_CBED-checkpoint.ipynb
example_data/CBED_375mm_alpha_3.3_beta9.6_Condensor10um_Filter.hf5
Homework/.ipynb_checkpoints/Homework05-CBED-checkpoint.ipynb
Homework/.ipynb_checkpoints/Homework06-TwoBeam-checkpoint.ipynb
Homework/.ipynb_checkpoints/Homework07-Dynamic_CBED-checkpoint.ipynb
Imaging/.ipynb_checkpoints/CH3_00-Imaging-checkpoint.ipynb
Imaging/.ipynb_checkpoints/CH3_01-Resolution-checkpoint.ipynb
example_data/CBED_375mm_alpha_3.3_beta9.6_Condensor10um_Filter-1.hf5
example_data/CBED_375mm_alpha_3.3_beta9.6_Condensor10um_Filter-2.hf5
example_data/Si001_300mm_alpha0.1_beta9.4_diff-4.hf5
Imaging/.ipynb_checkpoints/CH3_04-Linear_Image_Approximation-checkpoint.ipynb
Imaging/.ipynb_checkpoints/CH3_03-CTF-checkpoint.ipynb
Imaging/.ipynb_checkpoints/CH3_04-Linear_Image_Approximation-checkpoint.ipynb
Imaging/.ipynb_checkpoints/CH3_05-Defocus_Thickness-checkpoint.ipynb
Imaging/.ipynb_checkpoints/CH3_07-Image_Analysis-checkpoint.ipynb
Imaging/.ipynb_checkpoints/CH3_08-Thermal_Diffuse_Scattering-checkpoint.ipynb
Imaging/.ipynb_checkpoints/CH3_09-Z_Contrast-checkpoint.ipynb
Imaging/.ipynb_checkpoints/CH3_10-Ronchigram-checkpoint.ipynb
Imaging/.ipynb_checkpoints/CH3_04-Linear_Image_Approximation-checkpoint.ipynb
Imaging/.ipynb_checkpoints/CH3_05-Defocus_Thickness-checkpoint.ipynb
Imaging/.ipynb_checkpoints/CH3_07-Image_Analysis-checkpoint.ipynb
Imaging/.ipynb_checkpoints/CH3_10-Ronchigram-checkpoint.ipynb
Imaging/.ipynb_checkpoints/CH3_04-Linear_Image_Approximation-checkpoint.ipynb
Imaging/.ipynb_checkpoints/CH3_05-Defocus_Thickness-checkpoint.ipynb
Imaging/.ipynb_checkpoints/CH3_07-Image_Analysis-checkpoint.ipynb
Imaging/.ipynb_checkpoints/CH3_10-Ronchigram-checkpoint.ipynb
*.ipynb
Imaging/.ipynb_checkpoints/CH3_04-Linear_Image_Approximation-checkpoint.ipynb
Imaging/.ipynb_checkpoints/CH3_05-Defocus_Thickness-checkpoint.ipynb
Imaging/.ipynb_checkpoints/CH3_04-Linear_Image_Approximation-checkpoint.ipynb
Imaging/.ipynb_checkpoints/CH3_05-Defocus_Thickness-checkpoint.ipynb
Imaging/.ipynb_checkpoints/CH3_07-Image_Analysis-checkpoint.ipynb
Imaging/.ipynb_checkpoints/CH3_10-Ronchigram-checkpoint.ipynb
Imaging/.ipynb_checkpoints/CH3_04-Linear_Image_Approximation-checkpoint.ipynb
Imaging/.ipynb_checkpoints/CH3_05-Defocus_Thickness-checkpoint.ipynb
Imaging/.ipynb_checkpoints/CH3_07-Image_Analysis-checkpoint.ipynb
Imaging/.ipynb_checkpoints/CH3_10-Ronchigram-checkpoint.ipynb
Imaging/.ipynb_checkpoints/CH3_04-Linear_Image_Approximation-checkpoint.ipynb
Diffraction/images/1-s2.0-0956716X9190393F-main.pdf
Diffraction/images/1-s2.0-S1359645499000464-main.pdf
example_data/1EELS Acquire (high_loss)-1.hf5
example_data/1EELS Acquire (high_loss).hf5
example_data/1EELS Acquire (low_loss)-1.hf5
example_data/1EELS Acquire (low_loss).hf5
example_data/AL_DFoffset0.00-1.hf5
example_data/AL_DFoffset0.00-2.hf5
example_data/AL_DFoffset0.00.hf5
example_data/p1_3_hr3-3.hf5
example_data/p1_hr3_ZnOonGraphite-2.hf5
example_data/AL_DFoffset0.00-3.hf5
example_data/AL_DFoffset0.00-4.hf5
example_data/AL_DFoffset0.00-5.hf5
example_data/AL_DFoffset0.00-6.hf5
example_data/AL_DFoffset0.00-7.hf5
example_data/AL_DFoffset0.00-8.hf5
example_data/1EELS Acquire (high_loss)-2.hf5
example_data/1EELS Acquire (low_loss)-2.hf5
example_data/1EELS Acquire (high_loss)-3.hf5
example_data/1EELS Acquire (high_loss)-4.hf5
example_data/1EELS Acquire (high_loss)-5.hf5
example_data/6_SiC.hf5
.ipynb_checkpoints/_MSE672_Intro_TEM-checkpoint.ipynb
Diffraction/Gold_SAED.hf5
example_data/6_SiC-1.hf5
Introduction/.hf5
Introduction/nix.hf5
.ipynb_checkpoints/_MSE672_Intro_TEM-checkpoint.ipynb
Diffraction/Gold_SAED-1.hf5
docs/te.csv
example_data/p1-hr3-ZnOonGraphite.hf5
Spectroscopy/__pycache__/advanced_eels_tools.cpython-310.pyc
Spectroscopy/advanced_eels_tools.py
Spectroscopy/advanced_image_tools.py
Spectroscopy/data/Bote.txt
Spectroscopy/data/ffast.pkl
Spectroscopy/data/lineweight.txt
docs/Untitled.html
