
Diffraction/.ipynb_checkpoints/Ch2_00-Diffraction-checkpoint.ipynb
Diffraction/.ipynb_checkpoints/CH2_02-Atomic_Form_Factor-checkpoint.ipynb
Diffraction/.ipynb_checkpoints/CH2_03-Basic_Crystallography-checkpoint.ipynb
Diffraction/.ipynb_checkpoints/CH2_03b-JSmol_Viewer-checkpoint.ipynb
Diffraction/.ipynb_checkpoints/CH2_03c-FourierTransformLaboratory-checkpoint.ipynb
Homework/.ipynb_checkpoints/Homework01-checkpoint.ipynb
Introduction/.ipynb_checkpoints/CH1_03-Data_Representation-checkpoint.ipynb
